﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="MPage.Master.vb" Inherits="CascadoraDeNueces.MPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>


    <div id="templatemo_menu">
    <ul>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
        
        </asp:ContentPlaceHolder>
     
    </ul>    	

</div> <!-- end of templatemo_menu -->

<div id="templatemo_site_title_bar_wrapper">

	<div id="templatemo_site_title_bar">
    
    	<div class="site_title_left">
    
            <div id="site_title">
                <h1><a href="index.aspx">Cascadora de Nueces
                	<span>... y de otros frutos secos</span></a>
                </h1>
            </div>
            
            <div id="search_box">
                
            </div>
        
        </div>
        
        <div class="site_title_right">
		
        	
            <!--<h2><a href="#">
            Esta m&aacute;quina es ideal para los pequeños y medianos productores de frutos secos.</a></h2>-->
    	
        </div>
    
    </div> <!-- end of templatemo_site_title_bar -->

</div> <!-- end of templatemo_site_title_bar_wrapper -->

<div id="templatemo_content_wrapper_outter">

	<div id="templatemo_content_wrapper_inner">
    	
        <div id="templatemo_content_top"></div>
        
        <div id="templatemo_content">
        
        	
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
            <div class="cleaner_h30 divider"></div>
            <div class="cleaner_h30"></div>
            
            <div class="section_w860">
            
            	<div class="section_w380 float_l">
                
                	
                	
                </div>
                
                <div class="section_w380 float_r">
                
                	
                    
                   
                
			  </div>
            
            </div>
            
            <div class="cleaner"></div>        
        </div>
        
        <div id="templatemo_content_bottom"></div>
        
    </div> <!-- end of templatemo_content_wrapper_inner -->

</div> <!-- end of templatemo_content_wrapper_outter -->

<div id="templatemo_footer_wrapper">

<div id="templatemo_footer">

    <div class="section_w280">
        <h3><a href="index.aspx">Inicio</a></h3>
    </div>
    
    <div class="section_w280">
        <h3><a href="caracteristicas.aspx">Caracter&iacute;sticas</a></h3>  
    </div>
    
    <div class="section_w280"> 
        <h3><a href="videos.aspx">Videos</a></h3>
    </div>
    
    <div class="section_w280"> 
        <h3><a href="empresa.aspx">Nuestra Empresa</a></h3>
    </div>

    <div class="section_w280"> 
        <h3><a href="contacto.aspx">Contacto</a></h3>
    </div>
    <div class="cleaner_h40"></div>
    
    <center>
        Copyright © 2014 <a href="http://mdecagroup.com">MDECA</a> | Designed by Valeria 
        Khunulina</center>

</div> <!-- end of footer -->
</div>



    </div>
    </form>
</body>
</html>
